# Keep
!.gitkeep

# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
dist/

# local config
#
.env
*.sqlite
.vscode

# BUCK
buck-out/
\.buckd/
*.keystore

# Triton _env file
#
_env

# Temporary stuff
tmp/*
